<%= form_with(model: shopper, local: true) do |form| %>
  <% if shopper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shopper.errors.count, "error") %> prohibited this shopper from being saved:</h2>

      <ul>
      <% shopper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :nif %>
    <%= form.text_field :nif %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
