<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @order.completed_at %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @order.merchant %>
</p>

<p>
  <strong>Shopper:</strong>
  <%= @order.shopper %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
