<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @disbursement.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @disbursement.date %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @disbursement.merchant %>
</p>

<%= link_to 'Edit', edit_disbursement_path(@disbursement) %> |
<%= link_to 'Back', disbursements_path %>
